aiocache==0.12.2
aiohttp==3.10.0
audioread==3.0.1
flask==3.0.3
moviepy==1.0.3
numpy==2.0.1
openai==1.37.1
opencv-python==4.10.0.84
pillow==10.4.0
plotly==5.23.0
pyaudio==0.2.14
python-dotenv==1.0.1
"pymongo[srv]"
bcrypt==4.2.0
waitress==3.0.0
pyqt5==5.15.10
qasync
pyqtspinner
pyqt5-sip
pyqt5-tools
PyQtWebEngine
kaleido